<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR Processing">
      <aggregationProcessing>
          <processingPools>
              <pathAnalyzerLive type="Sitecore.PathAnalyzer.ApplicationContainer, Sitecore.PathAnalyzer" set:type="Sitecore.Support.PathAnalyzer.ApplicationContainer, Sitecore.Support.336049" />
              <pathAnalyzerHistory type="Sitecore.PathAnalyzer.ApplicationContainer, Sitecore.PathAnalyzer" set:type="Sitecore.Support.PathAnalyzer.ApplicationContainer, Sitecore.Support.336049" />
          </processingPools>
      </aggregationProcessing>
  </sitecore>
</configuration>